#myHeader {
	position: fixed;
	top: 0;
}
/*topFunction*/

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #ff841b;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
#myBtn:hover {
	background-color: #273b65;
}
/*end topFunction*/



/* slider*/
.items {
	width: 96%;
	margin: 0px auto;
	margin-top: 30px
}
.slick-slide {
	margin: 10px
}
.slick-slide img {
	width: 100%;
	border: 0px solid #fff
}
.slick-dots li button::before {
	width: 47px !important;
	height: 2px !important;
	content: "" !important;
	background-color: #b2b2b2 !important;
	border-radius: 4px !important;
}
.slick-dots li {
	margin-right: 40px !important;
}
.slick-dots li.slick-active button::before {
	color: #ff841b;
	background-color: #ff841b !important;
}
.slick-dots li button:hover::before, .slick-dots li button:focus::before {
	background-color: #ff841b !important;
}
.slick-initialized .slick-slide {
	outline: none;
}


/* end slider*/
